.header
    width: 100%
    height: 72px
    background: #FFFFFF
    display: flex
    justify-content: space-between
    align-items: center

.header__arrow
    margin-left: 40px

.header__arrow-text
    margin-left: 16px
    font-family: "proxima-nova", sans-serif
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 20px
    color: #82B284

.header__back
    text-decoration: none
    display: flex
    align-items: center

.header__button
    margin: 0 12px
    text-decoration: none

.header__button_last
    margin-right: 40px